---
type LabelBlog = {
  id: number;
  title: string;
  description: string;
  duration: number;
  image: string;
  day: string;
  link: string;
};

const Blogs: LabelBlog[] = [
  {
    id: 1,
    title: "Demo episode",
    description: "this episode demo video any more description for peoples",
    duration: 0,
    image: "",
    day: "Sep 10, 2024",
    link: "",
  },
  {
    id: 2,
    title: "Demo episode",
    description: "this episode demo video any more description for peoples",
    duration: 0,
    image: "",
    day: "Sep 10, 2024",
    link: "",
  },
  {
    id: 3,
    title: "Demo episode",
    description: "this episode demo video any more description for peoples",
    duration: 0,
    image: "",
    day: "Sep 10, 2024",
    link: "",
  },
  {
    id: 4,
    title: "Demo episode",
    description: "this episode demo video any more description for peoples",
    duration: 0,
    image: "",
    day: "Sep 10, 2024",
    link: "",
  },
];
---

{
  Blogs.length < 0 ? (
    <div class="mt-[50px] max-sm:mt-[30px] flex flex-col justify-center items-center gap-[30px]">
      {Blogs.map((blog) => (
        <div
          class="w-[800px] max-sm:w-[350px] h-[120px] max-sm:h-[150px] bg-white flex items-center justify-between px-6 rounded-xl shadow-gray-400 shadow-md hover:shadow-lg transition-shadow duration-300"
        >
          <div class="flex items-center space-x-4 w-20 h-20 max-sm:w-28 max-sm:h-20 bg-gray-500 rounded">
            <img src={blog.image} alt="" class="" />
          </div>

          <div class="flex-grow ml-4">
            <h2 class="text-xl font-medium text-gray-700 max-sm:text-lg">
              {blog.title}
            </h2>
            <span class="text-xs font-light text-gray-700">
              {blog.duration}-{blog.day}
            </span>
            <p class="text-md text-gray-700 font-semibold">
              {blog.description}
            </p>
          </div>
          <a href={blog.link}>
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none">
              <circle cx="25" cy="25" r="25" fill="#D9D9D9" />
              <path
                d="M19.25 18.6531C19.25 17.7971 20.167 17.2551 20.917 17.6671L32.457 24.0141C32.6336 24.1111 32.781 24.2538 32.8836 24.4273C32.9862 24.6007 33.0403 24.7986 33.0403 25.0001C33.0403 25.2016 32.9862 25.3994 32.8836 25.5729C32.781 25.7463 32.6336 25.889 32.457 25.9861L20.917 32.3331C20.7457 32.4273 20.5528 32.4752 20.3573 32.4721C20.1618 32.469 19.9705 32.4151 19.8023 32.3155C19.634 32.216 19.4946 32.0744 19.3977 31.9045C19.3009 31.7347 19.25 31.5426 19.25 31.3471V18.6531Z"
                fill="black"
                stroke="black"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
        </div>
      ))}
    </div>
  ) : (
    <div class="mx-auto flex flex-col justify-center items-center pt-52 px-3">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="44"
        height="44"
        viewBox="0 0 64 64"
      >
        <path
          fill="#ec1c24"
          d="M50.592 2.291L32 20.884C25.803 14.689 19.604 8.488 13.406 2.291c-7.17-7.17-18.284 3.948-11.12 11.12c6.199 6.193 12.4 12.395 18.592 18.592A32589 32589 0 0 1 2.286 50.595c-7.164 7.168 3.951 18.283 11.12 11.12q9.297-9.3 18.593-18.594l18.592 18.594c7.17 7.168 18.287-3.951 11.12-11.12q-9.297-9.298-18.597-18.594q9.298-9.299 18.597-18.596c7.168-7.166-3.949-18.284-11.12-11.11"
        />
      </svg>
      <h3 class="text-center mx-auto text-2xl font-light pt-3">
        Este usuario no tiene videos cargados ..
      </h3>
    </div>
  )
}
